@charset "UTF-8";

@font-face {
    font-family: 'sub';
    src: url('fonts/ComicNeueSansID.ttf')
    format(truetype);
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/Game\ On_PersonalUseOnly.ttf')
    format(truetype);
}

:root {

    --cor1: #EB4A44;
    --cor2: #c53f3a;
    --cor3: #C03C38;
    --cor4: #9E322E;
    --cor5: #7C2724;
    --cor6: #5A1C1A;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-titulos: 'titulo', cursive;
    --font-subtitulos: 'sub', cursive;
}

* {
    margin: 0px;
}

body {
    background-image: url(imgs/fundo3.0.jpg);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to top, #5A1C1A, #af2f2a);
    text-align: center;
}

header > img {
    height: 200px;
    width: 300px;
}

header > p {
    font-family: var(--font-subtitulos);
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    background-color: #5A1C1A;
    padding-top: 10px;
    padding-bottom: 20px;
}

nav > abbr > a {
    margin: 10px 20px 10px 20px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: var(--font-subtitulos);
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

nav > abbr > a:hover {
    color: white;
    background-color: var(--cor5);
    border-radius: 10px;
    text-decoration: underline;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.7s;
}

abbr {
    text-decoration: none;
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 30px 20px 30px 20px;
    border-radius: 0px 0px 10px 10px;
}

main > h1 {
    color: var(--cor6);
    font-family: var(--font-titulos);
    font-size: 40px;
    padding: 10px 10px 5px 10px;
    background-image: linear-gradient(to left, #5a1c1ac2, #eb4a44);
    border-radius: 10px 0px 0px 10px;
    box-shadow: -3px 2px 9px black;
}

aside {
    position: relative;
}

.fundoimg {
    border: 1px solid black;
    height: 210px;
    width: 160px;
    display: inline-block;
    margin: 20px 30px 20px 30px;
    background-image: linear-gradient(to top, #eb4a44d8, #9e322ed0);
    background-size: 20px;
    border-radius: 5px 0px 5px 0px;
    box-shadow: -3px 4px 0px black;
}

.container {
    text-align: center;
    margin-top: 30px;
}

#img1 {
    padding-top: 20px;
}
#img1 > p {
    color: white;
    font-family: var(--font-padrao);
}

#img2{
    padding-top: 20px;
}
#img2 > p {
    color: white;
}

#img3 {
    padding-top: 20px;
}
#img3 > p {
    color: white;
}

#img4 {
    padding-top: 20px;
}
#img4 > p {
    color: white;
}

#img5 {
    padding-top: 20px;
}
#img5 > p {
    color: white;
}

#img6 {
    padding-top: 20px;
}
#img6 > p {
    color: white;
}

#img7 {
    padding-top: 20px;
}
#img7 > p {
    color: white;
}

#img8 {
    padding-top: 20px;
}
#img8 > p {
    color: white;
}

#img9 {
    padding-top: 20px;
}
#img9 > p {
    color: white;
}

#img10 {
    padding-top: 20px;
}
#img10 > p {
    color: white;
}

#img11 {
    padding-top: 20px;
}
#img11 > p {
    color: white;
}

#img12 {
    padding-top: 20px;
}
#img12 > p {
    color: white;
}

.imgs {
    height: 185px;
    width: 130px;
}





