@charset "UTF-8";

@font-face {
    font-family: 'sub';
    src: url('fonts/ComicNeueSansID.ttf')
    format(truetype);
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/Game\ On_PersonalUseOnly.ttf')
    format(truetype);
}

:root {

    --cor1: #EB4A44;
    --cor2: #c53f3a;
    --cor3: #C03C38;
    --cor4: #9E322E;
    --cor5: #7C2724;
    --cor6: #5A1C1A;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-titulos: 'titulo', cursive;
    --font-subtitulos: 'sub', cursive;
}

* {
    margin: 0px;
}






